smtpd_banner = $myhostname ESMTP $mail_name (Puppet/SYN)
biff = no
append_dot_mydomain = no
html_directory = no
readme_directory = no
<% if @srvtype == "mail" -%>broken_sasl_auth_clients = yes
smtpd_tls_CAfile = <%=@conf_dir%>/ssl/server-chain.crt
smtpd_tls_cert_file = <%=@conf_dir%>/ssl/server.crt
smtpd_tls_key_file = <%=@conf_dir%>/ssl/server.key
<% else -%>smtpd_tls_cert_file = /etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file = /etc/ssl/private/ssl-cert-snakeoil.key
<% end -%>smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_session_cache_timeout = 600s
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_note_starttls_offer = yes
tls_random_source = dev:<%=@random_source%>
myhostname = <%=@myhostname%>
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = $myhostname
mydestination = $myhostname, localhost
<% if @mail_mx != false or @mail_ip != false -%><% if @mail_mx == @ipaddress -%>smtpd_helo_required = yes
local_transport = relay
virtual_alias_maps = hash:<%=@conf_dir%>/virtual_alias
virtual_mailbox_domains = hash:<%=@conf_dir%>/virtual_domains
virtual_mailbox_maps = hash:<%=@conf_dir%>/virtual_mailbox
maximal_queue_lifetime = 14d
delay_warning_time = 12d
smtpd_sasl_auth_enable = yes
smtpd_sasl_authenticated_header = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_tls_security_options = noanonymous
smtpd_tls_loglevel = 1
smtpd_tls_received_header = yes
smtpd_tls_security_level = may
smtpd_recipient_restrictions = reject_non_fqdn_recipient, permit_mynetworks, permit_sasl_authenticated, reject_unknown_sender_domain, reject_unknown_recipient_domain, reject_unlisted_recipient, reject_invalid_hostname, reject_non_fqdn_sender,<% if @rbls != false -%><% @rbls.each do |rbl| -%> reject_rbl_client <%=rbl%>,<% end -%><% end -%> check_policy_service unix:private/spfcheck, reject_unauth_destination
smtpd_sender_restrictions = warn_if_reject, reject_non_fqdn_hostname, reject_invalid_hostname, permit
<% else -%><% if @lsbdistcodename == "buster" -%>smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, defer_unauth_destination
<% end -%>relayhost = <% if @mail_mx != false -%><%=@mail_mx%>
<% elsif @mail_ip != false -%><% @mail_ip.each do |host| -%><%=host%>
<% break -%><% end -%><% end -%><% end -%><% end -%>mynetworks =<% if @postfix_networks -%><% @postfix_networks.each do |net| -%> <%=net%><% end -%><% end -%> 127.0.0.0/8
mailbox_size_limit = 0
message_size_limit = 0
recipient_delimiter = +
inet_protocols = ipv4
<% if @srvtype == "mail" -%>inet_interfaces = all
<% else -%>inet_interfaces = loopback-only
<% end -%><% if @local_domains != false -%>default_transport = discard
transport_maps = hash:<%=@conf_dir%>/transport
<% end -%><% if @operatingsystem == "OpenBSD" or @operatingsystem == "FreeBSD" -%>mail_owner = _smtpd
setgid_group = nogroup
<% end -%><% if @masquerade != false -%>smtp_generic_maps = regexp:<%=@conf_dir%>/masqueradefrom
<% end -%><% if @srvtype == "mail" -%>milter_default_action = accept
smtpd_milters = inet:localhost:12345
non_smtpd_milters = inet:localhost:12345
spfcheck_time_limit = 3600
<% end -%>
