map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen <%=@listen_ports['plain']%>;
    server_name <% if @aliases != false -%><% @aliases.each do |dname| -%><%=dname%> <% end -%><% end -%><%=@name%>;
    server_tokens off;
    error_log <%=@log_dir%>/error-<%=@name%>.log;
    access_log <%=@log_dir%>/access-<%=@name%>.log main;
<% if @csp_name != false and @csp_policies[@csp_name] =~ /self/ -%>    add_header Content-Security-Policy "default-src 'self'<% if @csp_sources != false -%> http://*.<%=@csp_sources.join(' http://*.')%> https://*.<%=@csp_sources.join(' https://*.')%><% end -%> <%=@csp_policies[@csp_name]%><% if @csp_report != false -%> report-uri <%=@csp_report%><% end -%>";
<% end -%><% if @public_key_pins != false -%>    add_header Public-Key Pins 'pin-sha256="<%=@public_key_pins.join('"; pin-sha256="')%>"; max-age=<%=@hpkp_max_age%>; includeSubDomains<% if @hpkp_report != false -%>; report-uri="<%=@hpkp_report%>"<% end -%>';
<% end -%><% if @referrerpolicy != false -%>    add_header Referrer-Policy "<%=@referrerpolicy%>";
<% end -%><% if @deny_frames == true -%>    add_header X-Frame-Options DENY;
<% end -%><% if @nosniff == true -%>    add_header X-Content-Type-Options nosniff;
<% end -%><% if @xss_protection == true -%>    add_header X-XSS-Protection "1; mode=block";
<% end -%><% if @listen_ports['ssl'] != false -%><% if @app_rewrite == true %>    rewrite ^/(.*) https://<%=@name%>/$1;
<% else -%>    location / {
<% if @csp_name == "inferno" -%>	root /usr/share/peerio-haunted-house;
	index index.html;
    }
    location /v1/ {
<% end -%>	proxy_redirect off;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection $connection_upgrade;
	proxy_pass <%=@app_proto%>://127.0.0.1:<%=@app_port%><% if @csp_name == "inferno" -%>/v1<% end -%>;
<% if @noerrors == false -%>	proxy_intercept_errors on;
<% end -%>    }
<% end -%><% if @noerrors == false -%>    include <%=@conf_dir%>/errors.conf;
<% end -%>}

server {
    listen <%=@listen_ports['ssl']%>;
    server_name <% if @aliases != false -%><% @aliases.each do |dname| -%><%=dname%> <% end -%><% end -%><%=@name%>;
    server_tokens off;
    error_log <%=@log_dir%>/ssl-error-<%=@name%>.log;
    access_log <%=@log_dir%>/ssl-access-<%=@name%>.log main;
<% if @csp_name != false and @csp_policies[@csp_name] =~ /self/ -%>    add_header Content-Security-Policy "default-src 'self'<% if @csp_sources != false -%> https://*.<%=@csp_sources.join(' https://*.')%><% end -%> <%=@csp_policies[@csp_name]%><% if @csp_report != false -%> report-uri <%=@csp_report%><% end -%>";
<% end -%><% if @referrerpolicy != false -%>    add_header Referrer-Policy "<%=@referrerpolicy%>";
<% end -%><% if @stricttransport != false -%>    add_header Strict-Transport-Security "<%=@stricttransport%>";
<% end -%><% if @public_key_pins != false -%>    add_header Public-Key Pins 'pin-sha256="<%=@public_key_pins.join('"; pin-sha256="')%>"; max-age=<%=@hpkp_max_age%>; includeSubDomains<% if @hpkp_report != false -%>; report-uri="<%=@hpkp_report%>"<% end -%>';
<% end -%><% if @deny_frames == true -%>    add_header X-Frame-Options DENY;
<% end -%><% if @nosniff == true -%>    add_header X-Content-Type-Options nosniff;
<% end -%><% if @xss_protection == true -%>    add_header X-XSS-Protection "1; mode=block";
<% end -%>    ssl on;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
<% if @lsbdistcodename != "trusty" and @lsbdistcodename != "wheezy" -%>    ssl_session_tickets off;
<% end -%>    ssl_certificate <%=@conf_dir%>/ssl/server-full.crt;
    ssl_certificate_key <%=@conf_dir%>/ssl/server.key;
    ssl_dhparam /etc/nginx/ssl/dh.pem;
<% end -%><% if 0 == 1 -%>    location /↑↑↓↓←→←→BA/ {
<% end -%><% if @konami_location -%>    location /UpUpDownDownLeftRightLeftRightBA/ {
	autoindex on;
	alias <%=@konami_location%>/;
    }
<% end -%><% if @csp_name == "shark" -%><% [ "/assign-subscription", "/customer/token", "/plan", "/stripe-webhook", "/user" ].each do |path| -%>    location <%=path%> {
<% [ "127.0.0.1/32", "10.0.0.0/8", "78.193.67.92/32", "82.251.19.118/32", "52.91.111.37/32", "54.187.174.169/32", "54.187.205.235/32", "54.187.216.72/32", "54.241.31.99/32", "54.241.31.102/32", "54.241.34.107/32" ].each do |remote| -%>	allow <%=remote%>;
<% end -%>	deny all;
	proxy_redirect off;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection $connection_upgrade;
	proxy_pass <%=@app_proto%>://127.0.0.1:<%=@app_port%><%=path%>;
    }
<% end -%><% end -%>    location / {
<% if @csp_name == "inferno" -%>	root /usr/share/peerio-haunted-house;
	index index.html;
    }
    location /v1/ {
<% end -%>	proxy_redirect off;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection $connection_upgrade;
	proxy_pass <%=@app_proto%>://127.0.0.1:<%=@app_port%><% if @csp_name == "inferno" -%>/v1<% end -%>;
<% if @noerrors == false -%>	proxy_intercept_errors on;
<% end -%>    }
<% if @noerrors == false -%>    include <%=@conf_dir%>/errors.conf;
<% end -%>}
