<% if @listen_ports['ssl'] != false %>upstream PKIdistrib {
    server 127.0.0.1:8080;
}

<% end -%>
server {
    listen <%=@listen_ports['plain']%>;
    server_name <%=@name%>;
    server_tokens off;
    error_log <%=@log_dir%>/error-<%=@name%>.log;
    access_log <%=@log_dir%>/access-<%=@name%>.log main;
<% if @csp_name != false and @csp_policies[@csp_name] =~ /self/ -%>    add_header Content-Security-Policy "default-src 'self'<% if @csp_sources != false -%> http://*.<%=@csp_sources.join(' http://*.')%> https://*.<%=@csp_sources.join(' https://*.')%><% end -%> <%=@csp_policies[@csp_name]%><% if @csp_report != false -%> report-uri <%=@csp_report%><% end -%>";
<% end -%><% if @referrerpolicy != false -%>    add_header Referrer-Policy "<%=@referrerpolicy%>";
<% end -%><% if @deny_frames == true -%>    add_header X-Frame-Options DENY;
<% end -%><% if @nosniff == true -%>    add_header X-Content-Type-Options nosniff;
<% end -%><% if @xss_protection == true -%>    add_header X-XSS-Protection "1; mode=block";
<% end -%>    root <%=@app_root%>;
    location / {
	try_files $uri $uri/ /index.html =404;
    }
<% if @noerrors == false -%>    include <%=@conf_dir%>/errors.conf;
<% end -%>}
<% if @listen_ports['ssl'] != false %>

server {
    listen <%=@listen_ports['ssl']%>;
    server_name <%=@name%>;
    server_tokens off;
    error_log <%=@log_dir%>/ssl-error-<%=@name%>.log;
    access_log <%=@log_dir%>/ssl-access-<%=@name%>.log main;
    ssl on;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
<% if @csp_name != false and @csp_policies[@csp_name] =~ /self/ -%>    add_header Content-Security-Policy "default-src 'self'<% if @csp_sources != false -%> http://*.<%=@csp_sources.join(' http://*.')%> https://*.<%=@csp_sources.join(' https://*.')%><% end -%> <%=@csp_policies[@csp_name]%><% if @csp_report != false -%> report-uri <%=@csp_report%><% end -%>";
<% end -%><% if @referrerpolicy != false -%>    add_header Referrer-Policy "<%=@referrerpolicy%>";
<% end -%><% if @stricttransport != false -%>    add_header Strict-Transport-Security "<%=@stricttransport%>";
<% end -%><% if @deny_frames == true -%>    add_header X-Frame-Options DENY;
<% end -%><% if @nosniff == true -%>    add_header X-Content-Type-Options nosniff;
<% end -%><% if @xss_protection == true -%>    add_header X-XSS-Protection "1; mode=block";
<% end -%><% if @lsbdistcodename != "trusty" and @lsbdistcodename != "wheezy" -%>    ssl_session_tickets off;
<% end -%>    ssl_certificate <%=@conf_dir%>/ssl/server-full.crt;
    ssl_certificate_key <%=@conf_dir%>/ssl/server.key;
    ssl_dhparam /etc/nginx/ssl/dh.pem;
    root <%=@app_root%>;
    location /certificate/ {
	proxy_redirect off;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_pass http://PKIdistrib/certificate/;
    }
    location /key/ {
	proxy_redirect off;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_pass http://PKIdistrib/key/;
    }
    location / {
	try_files $uri $uri/ /index.html =404;
    }
<% if @noerrors == false -%>    include <%=@conf_dir%>/errors.conf;
<% end -%>}
<% end -%>
