server {
    listen <%=@listen_ports['plain']%>;
    server_name <% if @aliases != false -%><% @aliases.each do |dname| -%><%=dname%> <% end -%><% end -%><%=@name%>;
    server_tokens off;
    error_log <%=@log_dir%>/error-<%=@name%>.log;
    access_log <%=@log_dir%>/access-<%=@name%>.log main;
    root /var/www;
    location / {
<% if 0 == 1 -%>#doesn't seem to work/end up on 404
	if ($http_x_plex_device_name = '') {
	    set $test A;
	}
	if ($arg_X-Plex-Device-Name = '') {
	    set $test "${test}B";
	}
	if ($test = AB) {
	    rewrite ^/$ http<% if @listen_ports['ssl'] != false -%>s<% end -%>://$http_host/web/index.html;
	}
<% else -%>	index index.html;
<% end -%>	proxy_pass  http://127.0.0.1:32400;
	proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
	proxy_redirect off;
	proxy_buffering off;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_http_version 1.1;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection "upgrade";
	proxy_read_timeout 36000s;
    }
<% if @noerrors == false -%>    include /etc/nginx/errors.conf;
<% end -%>}
