pass in quick on <%=@nicname%> inet proto $t from <adm_ip> to ( <%=@nicname%> ) port <%=@ssh_port%> reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $i from <adm_ip> to ( <%=@nicname%> ) reply-to ( <%=@nicname%> <%=@nicgw%> )
<% if @alsonic != false -%>pass in quick on <%=@nicname%> inet proto $t from <adm_ip> to ( <%=@alsonic%> ) port <%=@ssh_port%> reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $i from <adm_ip> to ( <%=@alsonic%> ) reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @reverse_ip != false -%>pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubreverse%> port http rdr-to $reverse_ip port http reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubreverse%> port https rdr-to $reverse_ip port https reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @altreverse != false and @pubreverse_ip != false -%>pass in quick on <%=@nicname%> inet proto $t from any to <%=@altreverse%> port http rdr-to <%=@pubreverse_ip%> port http reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $t from any to <%=@altreverse%> port https rdr-to <%=@pubreverse_ip%> port https reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @asterisk_ip != false -%><% @asterisk_ip.each do |host| -%><% if @pubasterisk != false -%>pass in quick on <%=@nicname%> inet proto $t from $sipsrv_ip to <%=@pubasterisk%> port $sip_tcp_port rdr-to <%=host%> port sip reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $u from $sipsrv_ip to <%=@pubasterisk%> port $sip_udp_port rdr-to <%=host%> port sip reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $i from <office_net> to <%=@pubasterisk%> reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $u from <office_net> to <%=@pubasterisk%> port $iax_port rdr-to <%=host%> port $iax_port reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% break -%><% end -%><% end -%><% if @gatessh != false and @ssh_ip != false and @gatessh != @pubreverse -%>pass in quick on <%=@nicname%> inet proto $t from any to <%=@gatessh%> port https rdr-to $ssh_ip port <%=@ssh_port%> reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @pubvisio != false and @visio_ip != false and @pubvisio != @pubreverse and @pubvisio != @pubasterisk and @pubvisio != @gatessh and @pubvisio != @pubmx -%>block in quick on <%=@nicname%> inet proto $tu from any to <%=@pubvisio%> port snmp
block in quick inet proto $t from any to <%=@pubvisio%> port http
pass in quick inet proto $tui from <% if @visio_clients == false -%>any<% else -%>$visioclt_ip<% end -%> to <%=@pubvisio%> rdr-to <%=@visio_ip%> reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @syslog_ip != false -%>pass in quick on <%=@nicname%> inet proto $tu from <office_net> to <%=@pubreverse%> port syslog rdr-to $syslog_ip port syslog reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @named_ip != false -%>pass in quick on <%=@nicname%> inet proto $tu from <office_net> to <%=@pubreverse%> port domain rdr-to $named_ip port domain reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @plex_ip != false -%>pass in quick on <%=@nicname%> inet proto $t from any to any port 32400 rdr-to $plex_ip port 32400 reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @transmission_ip != false -%>pass in quick on <%=@nicname%> inet proto $tu from any to any port 51413 rdr-to $torrent_ip port 51413 reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% if @pubmx != false and @mail_mx != false -%>pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubmx%> port smtp rdr-to $mail_ip port smtp reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubmx%> port smtps rdr-to $mail_ip port smtps reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubmx%> port imaps rdr-to $mail_ip port imaps reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% @ovpn_networks[@domain].each do |ovpn| -%><% ovpnname = ovpn['name'] -%><% if @all_openvpns[ovpnname] != "" -%><% if @all_openvpns[ovpnname]['server'] == true -%><% if ovpnname == "smiliens" and @pubvpn != @pubreverse -%>pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubvpn%> port https rdr-to $vpnsrv_ip port <%=@all_openvpns[ovpnname]['port']%> reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%>pass in quick on <%=@nicname%> inet proto $t from any to <%=@pubvpn%> port <%=@all_openvpns[ovpnname]['port']%> rdr-to $vpnsrv_ip port <%=@all_openvpns[ovpnname]['port']%> reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% end -%><% end -%><% if @ipsec_tunnels != false -%><% @ipsec_tunnels.each do |customer, tunhash| -%><% if tunhash['localgw'] == @nicaddr or tunhash['localgw'] == @pubreverse or tunhash['localgw'] == @pubasterisk or tunhash['localgw'] == @pubmx or tunhash['localgw'] == @pubvpn -%>pass in quick on <%=@nicname%> inet proto $u from <%=tunhash['remotegw']%> to <%=tunhash['localgw']%> port { isakmp ipsec-nat-t } reply-to ( <%=@nicname%> <%=@nicgw%> )
pass in quick on <%=@nicname%> inet proto $e from <%=tunhash['remotegw']%> to <%=tunhash['localgw']%> reply-to ( <%=@nicname%> <%=@nicgw%> )
<% end -%><% end -%><% end -%>
