define command {
    command_name	check_nrpe
    command_line	<%=@plugindir%>/check_nrpe -H '$HOSTADDRESS$' -c '$ARG1$' -t 45
}

define command {
    command_name	check_nrpe_port
    command_line	<%=@plugindir%>/check_nrpe -H '$HOSTADDRESS$' -p '$ARG1$' -c '$ARG2$' -t 45
}
