<VirtualHost *:80>
    ServerName <%=@name%>
<% if @aliases != false -%><% @aliases.each do |dname| -%>    ServerAlias <%=dname%>
<% end -%><% end -%>    ServerAdmin <%=@server_admin%>
<% if @vhostldapauth == false and @pubclear == true -%><% if @deny_frames == "remote" -%>    Header always set X-Frame-Options SAMEORIGIN
<% elsif @deny_frames == true -%>    Header always set X-Frame-Options DENY
<% end -%><% if @referrerpolicy != false -%>    Header always set Referrer-Policy "<%=@referrerpolicy%>"
<% end -%><% if @nosniff == true -%>    Header always set X-Content-Type-Options nosniff
<% end -%><% if @sslproxy == true -%>    Include sslproxy.conf
<% end -%>    ProxyPass / <%=@proxyto%>/
    ProxyPassReverse / <%=@proxyto%>/
    ProxyPreserveHost <%=@preserve_host%>

<% if @version == "2.2" -%>    <Location />
	Order allow,deny
	Allow from all
    </Location>
<% else -%>    <Proxy "*">
	Require all granted
    </Proxy>
<% end -%><% else -%>    RewriteEngine On
    RewriteRule ^/(.*) https://<%=@name%>/$1 [L,R]
<% end -%></VirtualHost>
<VirtualHost *:443>
    ServerName <%=@name%>
<% if @aliases != false -%><% @aliases.each do |dname| -%>    ServerAlias <%=dname%>
<% end -%><% end -%>    ServerAdmin <%=@server_admin%>
<% if @sslproxy == true -%>    Include sslproxy.conf
<% end -%><% if @referrerpolicy != false -%>    Header always set Referrer-Policy "<%=@referrerpolicy%>"
<% end -%><% if @stricttransport != false -%>    Header always set Strict-Transport-Security "<%=@stricttransport%>"
<% end -%><% if @deny_frames == "remote" -%>    Header always set X-Frame-Options SAMEORIGIN
<% elsif @deny_frames == true -%>    Header always set X-Frame-Options DENY
<% end -%><% if @nosniff == true -%>    Header always set X-Content-Type-Options nosniff
<% end -%>    Include ssl.conf
    ProxyPass / <%=@proxyto%>/
    ProxyPassReverse / <%=@proxyto%>/
    ProxyPreserveHost <%=@preserve_host%>

<% if @version == "2.2" -%>    <Location />
<% else -%>    <Proxy "*">
	<RequireAny>
<% end -%><% if @vhostldapauth == true or @vhostldapauth == "pubonly" -%>	Include authldap.conf
<% if @vhostldapauth == "pubonly" -%>	Include allow.conf
<% end -%><% if @vhostldapauth == true -%>	Include authldap.conf
<% end -%><% elsif @version == "2.2" -%> 	Order allow,deny
	Allow from all
<% else -%>	Require all granted
<% end -%><% if @version == "2.2" -%>    </Location>
<% else -%>	</RequireAny>
    </Proxy>
<% end -%></VirtualHost>
