MAILTO=root
*/20 * * * * root if test -x <%=@conf_dir%>/plugins/apt_all; then <%=@conf_dir%>/plugins/apt_all update 7200 12; elif test -x /etc/munin/plugins/apt; then /etc/munin/plugins/apt update 7200 12; fi >/dev/null
*/5 * * * * root if test -d <%=@conf_dir%>/plugins-pool -a -x /usr/local/sbin/munin-pool; then /usr/local/sbin/munin-pool; fi >/dev/null
