#!/bin/sh
exit 0

ADDRESS=<%=@pixeladdress%>
CONFDIR=<%=@conf_dir%>
TMPFILE=/tmp/gen.$$

render_record()
{
#discard myftp.org: some friend of mine host his plex behind a myftp.org record,
#discard piwik.org: can't download their last build if I can't reach their site
    echo "$1" | grep -E (myftp|piwik).org' >/dev/null && return 0
    grep "\"$1\"" $TMPFILE >/dev/null && return 0
    echo "local-zone: \"$1\" redirect"
    echo "local-data: \"$1 A $ADDRESS\""
}

cd /root

if ! test -s winhelp-blocklist.txt; then
    curl http://winhelp2002.mvps.org/hosts.txt >winhelp-blocklist.txt
fi
if ! test -s pglyoyo-blocklist.txt; then
    curl "http://pgl.yoyo.org/adservers/serverlist.php?hostformat=unbound&showintro=0&mimetype=plaintext" >pglyoyo-blocklist.txt
fi
if ! test -s adaway-blocklist.txt; then
    curl https://adaway.org/hosts.txt >adaway-blocklist.txt
fi

(
    awk '/^local-zone:.*redirect/{print $2}' /root/pglyoyo-blocklist.txt | sed 's|"||g'
    cat winhelp-blocklist.txt adaway-blocklist.txt 2>/dev/null | grep -vE '^($|#|;)' | tr -d '\r' | awk '/.\./{print $2}' | grep -vE '[\[\]]'
) | sort -fu | while read line
    do
	render_record "$line"
    done >>$TMPFILE

if test -s my_domains.txt; then
    while read line
    do
	render_record "$line"
    done <my_domains.txt >>$TMPFILE
fi

if test -s $TMPFILE -a -d $CONFDIR; then
    if ! cmp $TMPFILE $CONFDIR/blocklist.conf >/dev/null 2>&1; then
	if ! mv $CONFDIR/blocklist.conf $CONFDIR/blocklist.conf.backup; then
	    echo "failed creating current blocklist backup" >&2
	    RET=1
	elif ! mv $TMPFILE $CONFDIR/blocklist.conf; then
	    echo "failed installing new copy" >&2
	    RET=1
	elif ! unbound-checkconf; then
	    echo "reverting configuration as of new snippet looks invalid" >&2
	    mv $CONFDIR/blocklist.conf.backup $CONFDIR/blocklist.conf
	    RET=1
<% if @kernel == "Linux" -%>	elif test -x /bin/systemctl; then
	    systemctl restart unbound
	    RET=$?
	else
	    service unbound restart
	    RET=$?
<% else -%>	else
	    /etc/rc.d/unbound restart
	    RET=$?
<% end -%>	fi
    else
	echo "no modification, discarding generated file"
	RET=0
    fi
elif ! test -d $CONFDIR; then
    echo "error: $CONFDIR/ not found" >&2
    RET=42
else
    echo "nothing generated" >&2
    RET=21
fi

rm -f $TMPFILE

exit $RET
