<% if @architecture == "armv6l" -%><%=@nagios_user%>	ALL=NOPASSWD:/usr/local/bin/sysinfo
<% else -%><%=@nagios_user%>	ALL=NOPASSWD:<%=@dmidecode%>
<%=@nagios_user%>	ALL=NOPASSWD:<%=@ipmitool%>
<% end -%><% if @hpraid != false -%><%=@nagios_user%>	ALL=NOPASSWD:/usr/bin/cciss_vol_status
<% end -%>
