menu background boot-screens/splash.png
include boot-screens/stdmenu.cfg
menu hshift 19
menu width 40
menu margin 0

menu title CoreOS Systems
    menu title CoreOS Systems
	menu label CoreOS Systems
	menu exit
<% @distribs.each do |dist| -%><% [ "amd64" ].each do |arch| -%>   label -
	menu label <%=dist%> <%=arch%> (ssh-only access)
	kernel installers/coreos-<%=dist%>/<%=arch%>/linux
	append initrd=installers/coreos-<%=dist%>/<%=arch%>/initrd.gz cloud-config-url=http://<%=@ipaddress%>/cloud-config/default.yml
    label -
	menu label <%=dist%> <%=arch%> (console autologin)
	kernel installers/coreos-<%=dist%>/<%=arch%>/linux
	append initrd=installers/coreos-<%=dist%>/<%=arch%>/initrd.gz cloud-config-url=http://<%=@ipaddress%>/cloud-config/default.yml coreos.autologin
<% end -%><% end -%>
menu end
